.cell {
  padding: 0px 2px 2px 14px;
  text-align: center;
  border: 1px solid #a6a6a6;
  height: 20px;
  width: 20px
}


.cell:focus, .cell:active {
  border: 2px solid #0070c0 !important;
}

.plateStyle {
  backgroundColor: white;
  padding: 10px;
  border-radius: 8px;
  float: left;
  border: 1px solid #0070c0
}

.tdstyle {
  width: 25px;
  padding: 2px
}

.disabledCell{
  padding: 0px 2px 2px 14px;
  text-align: center;
  border: 1px solid #a6a6a6;
  height: 20px;
  width: 20px;
  cursor: not-allowed;
}
